/* Reset default styles */
* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body {
    color: #F5F5F5;
    font-family: 'Montserrat', sans-serif;
    overflow-x: hidden; /* prevent horizontal scrollbar */
}

nav {
    height: 100px;
    background-color: #0c1014;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 20px;
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    z-index: 1; /* put on top of other elements */
}

.logo {
    height: 80px;
    width: 80px;
    background-color: #2c3e50;
    border-radius: 50%;
    border: 4px solid #fff;
    margin-right: 20px;
    display: flex;
    align-items: center;
    justify-content: center;
    overflow: hidden;
}

.settings {
    display: inline-block;
    height: 60px;
    width: 60px;
    background-color: #2c3e50;
    border-radius: 50%;
    border: 4px solid #fff;
}

#devices-list-wrapper {
    position: absolute;
    top: 0;
    right: -370px;
    width: 400px;
    text-align: center;
    height: 100%;
    background-color: #0c1014;
    color: #fff;
    transition: right 0.3s ease-in-out;
    z-index: 1;
}

#devices-list-wrapper:hover {
    right: 0; /* show entire panel on hover */
}

#devices-list-title {
    padding: 15px;
    font-size: 16pt;
    text-align: center;
    width: 100%;
    background-color: #1b2632;
}

#devices-list {
    width: 100%;
    height: calc(100% - 55px);
    overflow-y: auto;
}

.connected-device-elem {
    display: flex;
    flex-flow: column;
    align-items: center;
    justify-content: left;
    font-family: 'Lato', sans-serif;
    font-size: 16px;
    margin: 0 30px;
    padding: 10px 0;
    border-bottom: 1px solid #2e4e6e;
    color: #fff;
    text-decoration: none;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    transition: background-color 0.2s ease-in-out;
}

.connected-device-elem:last-child {
    border-bottom: none;
}

.connected-device-elem:hover {
    background-color: #2c3e50;
}

.device-information {
    display: flex;
    flex-flow: row;
    align-items: center;
    justify-content: left;
    width: 100%;
}

main {
    margin-top: 0;
    background-color: #1E1E1E;
    overflow: hidden;
}

#map {
    height: 100vh;
    z-index: 0;
}

.device-image {
    width: 30px;
    height: 30px;
    margin: 10px 10px 10px 0;
}

.action-buttons {
    display: flex;
    margin: 10px;
    width: 100%;
}

.action-buttons button {
    background-color: #2b8ced;
    color: #fff;
    font-family: 'Lato', sans-serif;
    font-size: 16px;
    padding: 10px 20px;
    border: none;
    width: 135px;
    border-radius: 3px;
    margin-right: 10px;
    text-align: center;
    flex-grow: 1;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    transition: background-color 0.3s ease-in-out;
}

.action-buttons button:hover {
    background-color: #65b2ff;
}

.marker-tooltip {
    border: none !important;
    background-color: #f3f3f3  !important;
    color: black !important;
    border-radius: 5px !important;
    opacity: 0.9 !important;
}

.marker-tooltip:before {
    border-top-color: #f3f3f3  !important;
}